<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
<body>
    <h2>Breast Cancer Prediction</h2>
    <form action="/predict" method="post">
        <input type="text" name="input_data" placeholder="Enter 30 feature values, comma-separated" required>
        <br>
        <button type="submit">Predict</button>
    </form>
    {% if prediction_result %}
        <p class="result">{{ prediction_result }}</p>
    {% endif %}
</body>
</html>
